* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Header Section */
header {
    background-image: url('../images/banner/banner2.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 1600;
    height: 800px;

}

.headContainer {
    text-align: right;
    padding-top: 195px;
    padding-right: 150px;
}

.headTitle {
    color: #151414;
    font-size: 65px;
    font-weight: 700;
}

.headDescription {
    color: #444343;
    font-size: 16px;
    font-weight: 400;
}

.headBtn {
    border-radius: 5px;
    background: #F15B22;
    border: none;
    padding: 5px 10px;
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
}

/* section Story */

.storytelling {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
    margin: 0px 150px 130px;
}

.profilePic {
    width: 450px;
    height: 550px;
}

section .item2 {

    max-width: 300px;

}

.storyHead {
    color: #151414;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 20px;
}

.storyDescription {
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
}

.storyPoints {
    list-style-type: none;
    padding-left: 10px;
}

/* my plans section */
.logoSec {
    margin: auto;
    text-align: center;
}

.logooTitle {
    color: #151414;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}

.logoo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 30px;
}

.logoTitle {
    margin-top: 30px;
    color: #151414;
    font-size: 30px;
    font-weight: 700;
}

.logoDesc {
    margin-top: 20px;
    color: #737272;
    font-size: 25px;
    font-weight: 500;
}

/* third section */
.third {
    background-image: url('../images/gradient2.png'), url('../images/watch.png');
    background-repeat: no-repeat;
    margin: 120px auto;
    width: 1140px;
    height: 300px;

}

.thirdTitle {
    padding: 60px 0px 0px 65px;
    color: #FFF;
    font-size: 40px;
    font-weight: 700;
}

.btn1 {
    margin: 30px 0px 0px 65px;
    border: none;
    padding: 10px 20px;
    color: #F15B22;
    background-color: #fff;
    font-weight: 600;
    font-size: 20px;

}

/* footer section */

footer {
    background: #151414;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px;
    color: #FFF;
}

.footerHead {
    color: #F8F8F8;
    font-size: 45px;
    font-weight: 700;
    padding-bottom: 20px;
}

.footerDesc {
    color: #FFF;
    max-width: 400px;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 20px;
}

.email {
    padding-bottom: 20px;
}

.phone {
    padding-bottom: 20px;
}

.icons {
    margin-right: 10px;
}

.footerHead2 {
    color: #FFF;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}

.Eemail {
    color: var(--dark-07, #F3F3F3);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
    padding: 5px;
}

.btn8 {
    border-radius: 4px;
    background: #FFF;
    color: #F15B22;
    font-size: 16px;
    font-weight: 600;
    padding: 5px 10px;
}